@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.myHome {
    background-image: url('../public/assets/features/img4.jpg');
    background-size: cover; 
    background-position: center 10px;
    background-repeat: no-repeat; 
    transform: scaleX(-1); 

}
html, body {
  font-family: 'Poppins', sans-serif;
}

.whyUs {
  background-image: url('../public/assets/backgrounds/bg4.jpg');
  background-size: 100%; /* Zooms out the background image */
  background-position: center ; /* Adjusts the image 20px down */
  background-repeat: no-repeat; 
  /* transform: scaleX(-1);  */
}
.learn-more-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .learn-more-button .arrow-icon {
    transition: transform 0.3s ease;
  }
  
  .learn-more-button:hover .arrow-icon {
    transform: translateX(5px);
  }
  